# Ignore Mac-OS folder view configuration files
.DS_Store
Desktop.ini
# Ignore node build artifact.
node_modules
dist
build
yarn-error\.log
# Ignore visual studio code specific files.
.directory
*.code-workspace
