@import url('global.css') screen;
@import url('game.css') screen;
@import url('bus.css') screen;

/* big-screen.css */
/* Styles definitions for content shown on the large public display. */

@import url('https://fonts.googleapis.com/css2?family=Varta:wght@300;500;600&display=swap');

html body main {
	margin: 0;
	padding: 0;
}

body,
h2,
.content {
	font-family: 'Noto Sans KR', sans-serif;
}

body {
	background: #8b5ffd;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	box-sizing: border-box;
}

#root {
	display: grid;
	grid-template-columns: 340px 300px minmax(0, 1fr);
	grid-template-rows: 240px 380px minmax(0, 1fr);
	grid-gap: 20px;
	width: 100%;
	max-width: 1761px;
}

#g_cellbox_1 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#g_cellbox_2 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

#g_cellbox_2_swap {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

#g_cellbox_3 {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
}

#g_cellbox_4 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 4;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#g_cellbox_5 {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 4;
	padding: 0;
}

.g_cell {
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
	background-color: #7a44ee;
	border: 1px solid #7a44ee;
	border-radius: 20px;
}

/* ############################### */
/* Standard widget styles. */
.widget {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

/* QR Code Widget */
.widget.qrcode img {
	width: 100%;
	border: 1px solid white;
	border-radius: 10px;
}

/* Clock Widget */
.widget.clock {
	height: 75px;
}

.widget.clock h2 {
	color: white;
	font-size: 40px;
	font-weight: 400;
	text-align: center;
}

/* Weather Widget */
.widget.weather .date {
	text-align: center;
	font-size: 20px;
	color: white;
	margin-bottom: 15px;
}

.weather-box {
	display: flex;
	justify-content: center;
	flex-grow: 2;
}

.weather-box .sunny-icon,
.weather-box .rainy-icon,
.weather-box .cloudy-icon {
	background-size: contain;
	background-repeat: no-repeat;
	margin: 5px 2px;
	padding: 40px 40px;
	filter: drop-shadow(2px 2px 2px #555555);
}

.weather-box .sunny-icon {
	background-image: url('../gfx/Sunny-icon.png');
}

.weather-box .rainy-icon {
	background-image: url('../gfx/Rainy-icon.png');
	filter: drop-shadow(3px 3px 3px #555555);
}

.weather-box .cloudy-icon {
	background-image: url('../gfx/Cloudy-icon.png');
	filter: drop-shadow(2px 2px 2px #555555);
}

.weather-box .temp {
	padding: 25px 25px;
	color: #fff;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 45px;
	font-weight: 400;
	text-shadow: 1px 1px rgba(203, 203, 238, 0.5);
}

/* Study Widget */

.widget.study {
	text-align: center;
}

.widget.study {
	color: white;
}

.widget.study h2 {
	font-size: 1.5rem;
}

.widget.study .library {
	display: inline-block;
	/* animation-name: visibility;
	animation-duration: 4s; */
}

/* .widget.study .library.hide {
	display: none;
} */

/* @keyframes visibility {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
} */

.progress-bar {
	margin: 20px;
	width: 100px;
	height: 100px;
	position: relative;
}

/* Poll widget styles. */
.widget.poll h2 {
	color: white;
	font-size: 20px;
	margin-bottom: 15px;
	text-align: center;
}

.widget.poll div.bar {
	margin-bottom: 15px;
}

.widget.poll div.bar h3 {
	margin: 8px 0px 15px 0px;
	color: white;
	font-weight: 300;
	font-size: 20px;
}

.widget.poll div.bar .outer {
	display: flex;
	position: relative;
	top: 0px;
	left: 0px;
	height: 30px;
	justify-content: center;
	align-items: center;
	border: 1px solid #8b5ffd;
	color: white;
	font-weight: 300;
	font-size: 20px;
}

.widget.poll div.inner {
	display: flex;
	position: absolute;
	top: 0px;
	left: 0px;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
	box-sizing: border-box;
}

.widget.poll div.bar:nth-child(1) .inner {
	background-color: #7efafa;
}

.widget.poll div.bar:nth-child(2) .inner {
	background-color: #fcb1fc;
}

.widget.poll div.bar:nth-child(3) .inner {
	background-color: #bcfa7e;
}

.widget.poll div.bar:nth-child(4) .inner {
	background-color: #ede57e;
}
