@import url("global.css") screen;

/* mobile.css */
/* Styles definitions for mobile. */

@import url('https://fonts.googleapis.com/css2?family=Varta:wght@300;500;600&display=swap');

body, h2, h1, .content{
	font-family: 'Varta', sans-serif;
	font-weight: 500;
	color: white;
	text-align: center;
}

body
{
	width:100vw;
	height:100vh;
	box-sizing: border-box;	
	background: rgb(92,51,179);
	/* Increae ID on poll button */
	counter-reset: id-counter;
	
	/* Disable the select, copy, define, menus from popping up on mobile devices on long touches. e.g. holding down a dirction button in the game controller. */
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	overflow: hidden;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
	flex-wrap: nowrap;
	height: 80vh;
}

.header #question {
	font-size: 2em;
	font-weight: 500;
}



.header h1 {
	padding: 20px;
}

.header figure {
	width: auto;
	height: 30vh;
	background-image: url('../gfx/header.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.header .thanks {
	width: auto;
	height: 30vh;
	background-image: url('../gfx/thanks.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

/* Change logo when screen wider than 400px */
@media screen and (min-width: 400px) {
	.header figure {
		width: auto;
		height: 30vh;
		background-image: url('../gfx/logo.png');
		background-size: contain;
		background-repeat: no-repeat;
		margin-top: 20px;
		background-position: center;
	}
}

.header .content {
	height: 55vh;
}

/* Mobile menu */
.menu {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: center;
	flex-wrap: nowrap;
	position: absolute; bottom: 0;
	background-color: white;
	z-index: 5;
}

.menu h1{
	color:  rgb(80,41,132);
	font-size: 3em;
	font-weight: bold;
	text-transform: uppercase;
}

/* Display active content */
.menu .inactive {
	text-decoration: none;
}

.menu .active {
	text-decoration: underline rgb(80,41,132);
}

/* Poll logo */
.poll figure {
	width: 50vw;
	height: 15vh;
	background-image: url('../gfx/poll3.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

/* Game logo */
.game figure {
	width: 50vw;
	height: 15vh;
	background-image: url('../gfx/game3.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

h2
{
	font-family: 'Varta', sans-serif;	
	font-weight:600;
	font-size:28px;
	color:white;
}

section button{
	font-weight:500;
	font-size:15px;
	margin-bottom:15px;
	box-sizing: border-box;
	width: 80vw;
	align-self: center;
}

.pollbutton {
	border-width: 5px;
	color: rgb(80,41,132);
	font-size: 20px;
	font-weight: 800;	
}


#pollbutton1 {
	border-color: #fbb03b;
}

#pollbutton2 {
	border-color: #7efafa;	
}

#pollbutton3 {
	border-color: #bcfa7e;	
}

#pollbutton4 {
	border-color: #fcb1fc;	
}


.gamePad
{
	display:inline-grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto;	
	align-self: center;
	padding: 20px;
}

.gamePad .trackpad{
	position: relative;
	display:flex;
	width:80vw;
	height:30vh;
	font-size: 30px;
	font-weight: bold;
	border:1px solid #3C1F63;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0);
	touch-action: none;
	border-radius: 50px;
	z-index:3;
}

.gamePad div *{
	position: relative;
	width: 100%;
	height: 100%;
	background-color: inherit;
	z-index: 1;
	border-radius: inherit;
}

.gamePad .dot{
	position: absolute;
	border-radius: 50%;
	z-index: 2;
	animation-name: disappear;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

@keyframes disappear{
	0% {opacity: 100;}
	100% {opacity: 0;}
}

.gamePad div:nth-child(1){grid-column-start: 2;grid-row-start: 1;}
.gamePad div:nth-child(2){grid-column-start: 3;grid-row-start: 1;}
.gamePad div:nth-child(3){grid-column-start: 3;grid-row-start: 2;}
.gamePad div:nth-child(4){grid-column-start: 3;grid-row-start: 3;}
.gamePad div:nth-child(5){grid-column-start: 2;grid-row-start: 3;}
.gamePad div:nth-child(6){grid-column-start: 1;grid-row-start: 3;}
.gamePad div:nth-child(7){grid-column-start: 1;grid-row-start: 2;}
.gamePad div:nth-child(8){grid-column-start: 1;grid-row-start: 1;}